@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300..700&display=swap');


body{
font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

input {

  border: none;
  border-bottom: 1px solid #999;
 
  font-family: Poppins;
  box-sizing: border-box; }